html {
  height: 100%;
}

body {
  height: 100%;
}

#filter {
  position: fixed;
  top: 0;
  margin: 1em;
}

#seasonStats {
  position: fixed;
  top: 1em;
  margin: 1em;
}

#container {
  height: 100%;
}

#timeline {
  stroke: black;
  stroke-width: 1;
}

.dataPts {
  transition: 0.2s opacity ease-in-out;
}

.bigBar {
  opacity: 0.2;
}

.active .bg {
  fill: rgba(255, 255, 255, .9);
}

.bg {
  fill: none;
}

.label {
  font-size: 0.8em;
}

.movie {
  fill: #465fc1;
}

.tvSeries {
  fill: #f7317b;
}

.tvMovie {
  fill: #36952e;
}

.tvMiniSeries {
  fill: #2eaab0;
}