body {
  font-family: sans-serif;
  line-height: 1.5;
}

#nav .current {
  color: black;
}

#container {
  display: flex;
}

.list {
  width: 50%;
}

dt.entity {
  display: inline-block;
  padding: 0.2em 0.5em;
}

#people dt.entity {
  background-color: #c0eeee;
}

#people span.entity {
  color: #147e7e;
}

#titles dt.entity {
  background-color: #eedcc0;
}

#titles span.entity {
  color: #8b662e;
}