*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

#seasons {
  display: flex;
}

.season {
  width: 16.7%;
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: auto;
  
}

.nav a:first-of-type {
  margin-right: 1em;
}

#title {
  text-align: center;
}

#transcript {
  width: 60%;
  margin: 100px auto;
}

.ref {
  position: relative;
}

.reference {
  display: inline-block;
  padding: 0.2em 0.5em;
}

.people {
  background-color: #c0eeee;
}

.titles {
  background-color: #eedcc0;
}

.popup {
  display: none;
  position: absolute;
  top: calc(100% + 0.4em);
  left: 0;
  width: 250px;
  padding: 1em;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

.ref:hover .popup {
  display: block;
}

.popup > span {
  display: block;
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.tag:not(:last-of-type) {
  margin-right: 0.5em;
}