*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

#nav .current {
  color: black;
}

#seasons {
  display: flex;
}

.season {
  width: 16.7%;
}

.epNav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: auto;
}

#summary {
  width: 33.3%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  align-items: start;
  justify-content: center;
}

#summary h2 {
  grid-column-end: span 2;
  text-align: center;
}

.list {
  margin: 1em;
  list-style-type: none;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.list h3 {
  margin-top: 0;
}

#peopleList {
  background-color: #c0eeee;
}

#titlesList {
  background-color: #eedcc0;
}

.list li {
  padding: 0.2em 0.5em;
  margin: 0.2em 0;
  background-color: white;
}

.list li span {
  margin-right: 0.5em;
}

.epNav a:first-of-type {
  margin-right: 1em;
}

#title {
  text-align: center;
}

/* progBar */

#progBar {
  stroke: black;
  stroke-width: 1;
}

.refg {
  transition: opacity 0.15s;
}

.tip {
  stroke-width: 2;
}

.name .tip {
  stroke: #1d7979;
}

.title .tip {
  stroke: #b48842;
}

.pct {
  font-size: .5em;
}

/* progBar end */

#transcript {
  width: 60%;
  margin: 100px auto;
}

.ref {
  position: relative;
}

.reference {
  display: inline-block;
  padding: 0.2em 0.5em;
}

.people {
  background-color: #c0eeee;
}

.titles {
  background-color: #eedcc0;
}

.popup {
  display: none;
  position: absolute;
  top: calc(100% + 0.4em);
  left: 0;
  width: 250px;
  padding: 1em;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

.ref:hover .popup {
  display: block;
}

.popup > span {
  display: block;
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.tag:not(:last-of-type) {
  margin-right: 0.5em;
}